h1{
    color: aqua;
    background-color: black;
}
div{
    text-align: center;
}
body{
    background-color:rgb(52, 169, 189);
}
ul{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
table{
    color: aliceblue;
}